<a href="https://colab.research.google.com/github/Komal-Mahajan/Student-s-performance/blob/master/project.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
#Step 1
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving StudentsPerformance.csv to StudentsPerformance.csv

In [0]:
df = pd.read_csv('StudentsPerformance.csv')

In [0]:
df

     gender race/ethnicity  ... reading score writing score
0    female        group B  ...            72            74
1    female        group C  ...            90            88
2    female        group B  ...            95            93
3      male        group A  ...            57            44
4      male        group C  ...            78            75
..      ...            ...  ...           ...           ...
995  female        group E  ...            99            95
996    male        group C  ...            55            55
997  female        group C  ...            71            65
998  female        group D  ...            78            77
999  female        group D  ...            86            86

[1000 rows x 8 columns]

In [0]:
#Step 3
df['math score']

0      72
1      69
2      90
3      47
4      76
       ..
995    88
996    62
997    59
998    68
999    77
Name: math score, Length: 1000, dtype: int64

In [0]:
df['reading score']

0      72
1      90
2      95
3      57
4      78
       ..
995    99
996    55
997    71
998    78
999    86
Name: reading score, Length: 1000, dtype: int64

In [0]:
df['writing score']

0      74
1      88
2      93
3      44
4      75
       ..
995    95
996    55
997    65
998    77
999    86
Name: writing score, Length: 1000, dtype: int64

In [0]:
df['test preparation course']

0           none
1      completed
2           none
3           none
4           none
         ...
995    completed
996         none
997    completed
998    completed
999         none
Name: test preparation course, Length: 1000, dtype: object

In [0]:
df['test preparation course'].unique()

array(['none', 'completed'], dtype=object)

In [0]:
df.describe()

       math score  reading score  writing score
count  1000.00000    1000.000000    1000.000000
mean     66.08900      69.169000      68.054000
std      15.16308      14.600192      15.195657
min       0.00000      17.000000      10.000000
25%      57.00000      59.000000      57.750000
50%      66.00000      70.000000      69.000000
75%      77.00000      79.000000      79.000000
max     100.00000     100.000000     100.000000

In [0]:
df.columns

Index(['gender', 'race/ethnicity', 'parental level of education', 'lunch',
       'test preparation course', 'math score', 'reading score',
       'writing score'],
      dtype='object')

In [0]:
# Step 4
x=df.iloc[:,[5,6,7]].values

y=df.iloc[:,4].values

In [0]:
# Step 5
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=10)
print('x_train.shape=',x_train.shape)
print('x_test.shape=',x_test.shape)
print('y_train.shape=',y_train.shape)
print('y_test.shape=',y_test.shape)

x_train.shape= (750, 3)
x_test.shape= (250, 3)
y_train.shape= (750,)
y_test.shape= (250,)

In [0]:
# Step 6
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()

In [0]:
#x_train = scaler.fit_transform(x_train)
#x_test = scaler.transform(x_test)
#x_train)

In [0]:
# Step 7 & 8
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier(n_neighbors = 27,metric='euclidean')
model.fit(x_train,y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='euclidean',
                     metric_params=None, n_jobs=None, n_neighbors=27, p=2,
                     weights='uniform')

In [0]:
# Step 9
y_pred = model.predict(x_test)

In [0]:
print('y_pred=',y_pred,'\ny_test=',y_test)

y_pred= ['none' 'none' 'none' 'none' 'completed' 'none' 'completed' 'none' 'none'
 'none' 'completed' 'none' 'none' 'none' 'none' 'none' 'completed' 'none'
 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'completed' 'none'
 'none' 'completed' 'completed' 'completed' 'none' 'none' 'none' 'none'
 'none' 'completed' 'none' 'completed' 'none' 'none' 'none' 'completed'
 'completed' 'completed' 'completed' 'none' 'none' 'completed' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'none' 'none'
 'none' 'none' 'completed' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'completed' 'none' 'completed' 'completed'
 'none' 'completed' 'none' 'completed' 'none' 'none' 'none' 'none' 'none'
 'completed' 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'none'
 'none' 'completed' 'none' 'none' 'none' 'none' 'completed' 'none' 'none'
 'none' 'completed' 'none' 'none' 'none' 'none' 'completed' 'completed'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'completed' 'completed' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'none' 'completed'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'completed' 'none' 'none' 'completed' 'none' 'completed'
 'none' 'none' 'none' 'completed' 'none' 'completed' 'none' 'none' 'none'
 'none' 'none' 'none' 'completed' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'completed' 'none' 'completed' 'none' 'none' 'none' 'none' 'none' 'none']
y_test= ['none' 'none' 'none' 'none' 'completed' 'none' 'completed' 'none' 'none'
 'completed' 'none' 'completed' 'completed' 'none' 'none' 'none' 'none'
 'none' 'completed' 'none' 'completed' 'completed' 'completed' 'none'
 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'none' 'none'
 'completed' 'none' 'none' 'none' 'completed' 'completed' 'completed'
 'none' 'none' 'completed' 'none' 'completed' 'completed' 'completed'
 'none' 'completed' 'completed' 'none' 'none' 'none' 'none' 'none'
 'completed' 'completed' 'none' 'completed' 'none' 'completed' 'none'
 'none' 'none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none'
 'none' 'none' 'completed' 'none' 'none' 'none' 'completed' 'none'
 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'none'
 'completed' 'none' 'none' 'completed' 'none' 'completed' 'completed'
 'none' 'completed' 'none' 'completed' 'none' 'completed' 'none'
 'completed' 'completed' 'completed' 'none' 'completed' 'none' 'completed'
 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none' 'none'
 'completed' 'completed' 'none' 'completed' 'completed' 'completed'
 'completed' 'none' 'none' 'completed' 'none' 'completed' 'none' 'none'
 'none' 'none' 'completed' 'none' 'completed' 'completed' 'none' 'none'
 'none' 'completed' 'completed' 'completed' 'none' 'completed' 'completed'
 'completed' 'none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none'
 'completed' 'none' 'none' 'completed' 'completed' 'none' 'none'
 'completed' 'none' 'none' 'completed' 'none' 'none' 'completed' 'none'
 'none' 'completed' 'none' 'none' 'none' 'none' 'completed' 'none'
 'completed' 'completed' 'none' 'none' 'none' 'completed' 'none' 'none'
 'completed' 'none' 'completed' 'none' 'completed' 'none' 'completed'
 'completed' 'completed' 'none' 'none' 'completed' 'none' 'none'
 'completed' 'none' 'none' 'none' 'none' 'none' 'none' 'completed' 'none'
 'none' 'none' 'none' 'none' 'none' 'completed' 'completed' 'none' 'none'
 'none' 'none' 'none' 'none' 'none' 'completed' 'none' 'none' 'none'
 'completed' 'none' 'completed' 'none' 'none' 'none' 'completed'
 'completed' 'none' 'completed' 'none' 'none' 'none' 'completed' 'none'
 'completed' 'none' 'completed' 'none' 'none' 'none' 'none']

In [0]:
# Step 10
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)*100

70.0

In [0]:
from sklearn.metrics import confusion_matrix
confusion_matrix(y_test,y_pred)

array([[ 30,  60],
       [ 15, 145]])